<div id="<%= dom_id exercicio %>">
  <p>
    <strong>Nome:</strong>
    <%= exercicio.nome %>
  </p>

  <p>
    <strong>Grupo muscular:</strong>
    <%= exercicio.grupo_muscular %>
  </p>

  <p>
    <strong>Instrucoes:</strong>
    <%= exercicio.instrucoes %>
  </p>

</div>
